<%- include("../partials/header") %>
<br><br>
<h1>All Pokemon</h1>
<br><br>


<table>
    <thead>
        <tr>
            <th>Pokemon</th>
            <th>Type</th>
            <th>Special Ability</th>
            <th>More Info</th>
        </tr>
    </thead>
    <tbody>
        <% pokemons.forEach(p => { %>

            <tr>
                <td><%= p.pokemonName %></td>
                <td>
                    <% if (p.pokemonTypes.type1 === p.pokemonTypes.type2) { %>
                        <%=p.pokemonTypes.type1%>
                    <% } else { %>
                        <%=p.pokemonTypes.type1%> &
                        <%=p.pokemonTypes.type2%>
                    <% } %>
                </td>
                <td><%= p.specialAbility %></td>
                <td><a href = "/pokemons/<%=p._id%>">More Info</a></td>
                <% }) %>
            </tr>

    </tbody>
</table>
<%- include("../partials/footer") %>