<%- include("../partials/header") %>
<br><br>
<h1>All Pokemon</h1>
<br><br>

<div class = "container">
    <div class = "entries-container">
<table>
    <thead>
        <tr>
            <th class="first-el">Sprite</th>
            <th class="second-el">Pokemon</th>
            <th class="third-el">Type</th>
            <th class="fourth-el">Ability</th>
            <th class="fifth-el">Details</th>
        </tr>
    </thead>
    <tbody>
        <% pokemons.forEach(p => { %>

            <tr id="hover-tr">
                <td class="first-el"><img class ="index-sprites" src ="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=p.pokemonNum%>.png"></td>
                <td class="second-el"><%= p.pokemonName %></td>
                <td class="third-el">
                    <% if (p.pokemonTypes.type1 === p.pokemonTypes.type2) { %>
                        <%=p.pokemonTypes.type1%>
                    <% } else { %>
                        <%=p.pokemonTypes.type1%> &
                        <%=p.pokemonTypes.type2%>
                    <% } %>
                </td>
                <td class="fourth-el"><%= p.specialAbility %></td>
                <td class="fifth-el"><a class ="more-info" href = "/pokemons/<%=p._id%>">More Info</a></td>
                <% }) %>
            </tr>

    </tbody>
</table>
</div>
</div>
<%- include("../partials/footer") %>