<%- include("../partials/header") %>
<div class="show-container">
<h2 class="show-name"><%=pokemons.pokemonName%></h2>

<img class="show-sprites" src ="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=pokemons.pokemonNum%>.png">

<h2 class="show-date-caught">Date Caught: <%=pokemons.dateCaught%></h2>
<h2 class="show-shiny">Shiny: <%=pokemons.isShiny%></h2>
<h2 class="show-type">Type:
    <% if (pokemons.pokemonTypes.type1 === pokemons.pokemonTypes.type2) { %>
        <%=pokemons.pokemonTypes.type1%>
    <% } else { %>
        <%=pokemons.pokemonTypes.type1%> &
        <%=pokemons.pokemonTypes.type2%>
    <% } %>
</h2>
<h2>Height(cm): <%=pokemons.height%></h2>
<h2>Weight(kg): <%=pokemons.weight%></h2>
<h2>Description: <%=pokemons.description%></h2>
<%- include("../partials/footer") %>

<form action="/pokemons/<%=pokemons._id%>?_method=DELETE" method="POST" class= "delete-form">
    <button id="btn-delete" type="submit">Delete Entry</button>
</form>
<br>
<a id="edit-btn" href ="/pokemons/<%=pokemons._id%>/edit">Edit Entry</a>
</div>