<%- include("../partials/header") %>
<h2><%=pokemons.pokemonName%></h2>
<% if (pokemons.pokemonName === "Ivysaur") { %>
    <img src = "https://www.nicepng.com/png/detail/168-1685190_ivysaur-pokemon.png">
<% } %>
<h2>Date Caught: <%=pokemons.dateCaught%></h2>
<h2>Shiny: <%=pokemons.isShiny%></h2>
<h2>Type: </h2>
<h2>Height(cm): <%=pokemons.height%></h2>
<h2>Weight(kg): <%=pokemons.weight%></h2>
<h2>Description: <%=pokemons.description%></h2>
<%- include("../partials/footer") %>

<a href ="/pokemons/<%=pokemons.id%>/pokemonTypes/new">Add a Type</a>

<form action="/pokemons/<%=pokemons.id%>?_method=DELETE" method="POST" class= "delete-form">
    <button type="submit">Delete Entry</button>
</form>

<form action="/pokemons/<%=pokemons.id%>?_method=UPDATE" method="POST" class= "update-form">
    <button type="submit">Update Entry</button>
</form>